<p>
  Lord Ganesha is worshipped with all sixteen rituals along with chanting of Puranik Mantras during Ganesha Chaturthi Puja which is also known as Vinayaka Chaturthi Puja. Worshipping Gods and Goddesses with all 16 rituals is known as Shodashopachara Puja (षोडशोपचार पूजा).
</p>
<p>Although Ganesha Puja can be done during Pratahkala, Madhyahnakala and Sayankala but Madhyahnakala is preferred during Ganesha Chaturthi Puja. Madhyahnakala Puja time for Ganesha Puja can be known at Ganesha Chaturthi Puja Muhurat.</p>
<p>
All rituals which are prescribed during Ganesha Puja are given below and it also includes sixteen steps which are prescribed in Shodashopachara Puja. Deep-Prajawalan (दीप-प्रज्वलन) and Sankalpa (संकल्प) are done before starting the Puja and these two are not part of core sixteen steps of Shodashopachara Puja.
</p>

<p>

If you have Lord Ganesha installed at your home and is worshipped daily then Avahana (आवाहन) and Pratishthapan (प्रतिष्ठापन) should be skipped as these two rituals are done for newly bought statues of Lord Ganesha either made of clay or made of metal. It should be noted that pre-installed statue of Lord Ganesha at home are not given Visarjan (विसर्जन) but given Utthapana (उत्थापन) at the end of Puja.

</p>
<p>


On Ganesha Chaturthi, devotees also perform Eka Vinshati Name Ganesh Puja and Lord Ganesha Anga Puja along with the below Shodashopachara Puja. 
</p>